
@model ProyectoProgra5.UI.Models.Materia

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdInstitucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdInstitucionNavigation.IdInstitucion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMateria" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>

