
@model ProyectoProgra5.UI.Models.UsuarioXGrupo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<div>
    <h4>Usuario por Grupo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaNavigation.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoNavigation.IdGrupo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuarioXgrupo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
