@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a al Campus Institucional</h1>
    <span class="login100-form-avatar">
        <img src="~/Img/imagen1.jpg" >
    </span>
    
</div>
